<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/assessment.css">
    <title>Тестирование</title>

  </head>
  <body class="assessment-body">

    <main class="main">
        <div class="context_text">
            <h4>Описания физических явлений в различных литературных произведениях.</h4>
            <p>Произведения художественной литературы, богатые описанием тех или иных физических явлений природы, интересными фактами, легко усваиваются.
            В произведении М.М. Пришвина «Весна света» найдем описание тепловых процессов – плавления и кристаллизации:
            «В Москве уже лет тридцать и больше я наблюдаю чудесное время, названное мною весной света, когда первый воробей запоет по- своему в стенной печурке, желоб высунет из себя ледяной язык, и с него закапает и поперек тротуара побежит первый маленький ручей».
            «Желоб высунет из себя ледяной язык» - это кристаллизация; а «с него закапает» - это плавление.
            Капитан Врунгель, вернувшись из очередного кругосветного путешествия, рассказывает:
            «У нас в кают-компании на стене висит ружьё. Старинное охотничье ружьё. Так вот, это самое ружье непременно раз в год стреляет. И в этом году тоже – как бабахнет! Мы как раз стояли у острова Борнео. Я врываюсь в кают-компанию и что же вижу? Ружьё раскачивается на стене, как маятник в шторм, а пуля пробила насквозь аквариум с моими золотыми рыбками…Вода выливается через дыры, как сквозь кингстоны, а бедные рыбки подпрыгивают, бьются о дно… Пришлось мне заткнуть пробоину и вызвать своих помощников».
            Физические явления постоянно присутствуют в художественной литературе. Без такой науки, как физика не было бы такого литературного жанра, как научно-фантастический роман. Одним из создателей которого стал Жюль Верн. Вдохновленный великими открытиями XIX века, он написал замечательные произведения «С Земли на Луну», «Дети капитана Гранта», «20000 лье под водой», «Таинственный остров», которые проникнуты романтикой этой науки.
            Несмотря на разные способы познания, освоения окружающего мира, предмета исследования, можно выделить достаточно много точек соприкосновения между физикой и литературой. В жизни физика и литература тесно переплетаются. Через образы художественной литературы и эмоциональные сопереживания можно глубже понять природу различных физических явлений.
            </p>
        </div>

      <div class="quiz__head">
          <div class="head__content" id="head">Вопрос ? ВопроВопрос ? Вопрос ? Вопрос ? Вопрос ?  ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? </div>
      </div>

      <div class="quiz__body">
        <div class="buttons">
          <div class="buttons__content">
            <button class="button-quiz">Вариант 1</button><br>
            <button class="button-quiz">Вариант 2</button><br>
            <button class="button-quiz">Вариант 3</button><br>
            <button class="button-quiz">Вариант 4</button><br>
          </div>
        </div>

        <div class="quiz__footer">
            <div class="footer__content" id="pages">0 / 0</div>
        </div>
      </div>

    </main>
    <script src="/assets/scripts/assessment_script.js"></script>
  </body>
</html>