<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/assessment.css">
    <title>Тестирование</title>

  </head>
  <body class="assessment-body">

    <main class="main">
        <div class="context_text">
            <h4><b>Вячеслав Ким туралы</b></h4>
            <p>


Вячеслав Константинович Ким — Қазақстанның ең табысты кәсіпкерлерінің бірі және Kaspi.kz компаниясының негізін қалаушы тұлғалардың бірі. Ол Қазақстан экономикасын дамытуға және цифрлық технологияларды енгізуге үлкен үлес қосты.

                <b>Білім және мансап бастамасы</b>
1969 жылы 12 маусымда Алматы қаласында дүниеге келген. Алматы халық шаруашылығы институтын «Экономика және менеджмент» мамандығы бойынша тәмамдаған. 1990-жылдары ол ALTAIR және Asia Technics компанияларын құрды, бұл оның бизнестегі алғашқы тәжірибесін берді.

                <b>Kaspi.kz</b>> компаниясы және жетістіктері
2006 жылы Вячеслав Ким Kaspi.kz директорлар кеңесінің төрағасы болды. Оның басшылығымен компания банк саласынан цифрлық шешімдер ұсынатын жетекші финтех-компанияға айналды. 2020 жылы Kaspi.kz Лондон қор биржасында IPO өткізіп, үлкен табысқа жетті.

2024 жылы Вячеслав Кимнің байлығы 5 миллиард доллардан асты, ол Қазақстандағы ең бай адам ретінде танылды. Сонымен қатар, ол білім беру және қайырымдылық жобаларын қолдап, жастарға шабыт береді.

                <b>Қорытынды</b>
Вячеслав Ким — табысты көшбасшы, оның өмірі мен қызметі жас ұрпаққа үлкен мотивация береді. Оның стратегиялық ойлауы мен жаңа технологияларды енгізуі Қазақстанның цифрлық болашағын қалыптастыруда маңызды рөл атқарады.

            </p>
        </div>

      <div class="quiz__head">
          <div class="head__content" id="head">Вопрос ? ВопроВопрос ? Вопрос ? Вопрос ? Вопрос ?  ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? Вопрос ? </div>
      </div>

      <div class="quiz__body">
        <div class="buttons">
          <div class="buttons__content">
            <button class="button-quiz">Вариант 1</button><br>
            <button class="button-quiz">Вариант 2</button><br>
            <button class="button-quiz">Вариант 3</button><br>
            <button class="button-quiz">Вариант 4</button><br>
          </div>
        </div>

        <div class="quiz__footer">
            <div class="footer__content" id="pages">0 / 0</div>
        </div>
      </div>

    </main>
    <script src="/assets/scripts/assessment_script.js"></script>
  </body>
</html>