<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <title>ЦОР</title>

</head>
<body>
    <div class="container1 animation-target" id="atom_pic">
        <img src="assets/icons/sds-removebg-preview.png" alt="atom">
    </div>

    <div class="container2 animation-target" id="container" a="center">
        <h1>Тест по грамотности чтения</h1>
        <p>Добро пожаловать на тест по грамотности чтения. Нажмите на кнопку ниже, чтобы начать тестирование.</p>

        <form action="api/assessment" method="get">
            <button id="startButton">Начать тест</button>
        </form>

    </div>
</body>

<footer>
    <div class="container3 animation-target" id="container" a="center">
        <h2>По окончанию тестирования тебя ждет результат твоей работы ✨🥳</h2>
        <img src="/assets/images/present.png" alt="present">
    </div>
</footer>
</html>