<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <title>ЦОР</title>

</head>
<body>
    <div class="container1 animation-target" id="atom_pic">
        <img src="/assets/icons/sds-removebg-preview.png" alt="atom">
    </div>

    <div class="container2 animation-target" id="container" a="center">
        <h1>Тест по грамотности чтения пройден!</h1>
        <p>Большое спасибо за прохождение этого тестирования.</p>
    </div>
</body>

</html>
