.assessment-body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1e1e2a;
    color: #fff;
}

.main
{
    max-width: 600px;
    width: 100%;
    padding: 25px 25px 0 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #1e1e2a;
    border-radius: 10px;
    -webkit-box-shadow: 6px 6px 25px -6px rgba(0,  0,  0, 0.5) inset;
    -moz-box-shadow: 6px 6px 25px -6px rgba(0,  0,  0, 0.5) inset;
    box-shadow: 6px 6px 25px -6px rgba(0,  0,  0, 0.5) inset;
    text-align: center;
}

.quiz__head
{
    font-size: 21px;
    margin-bottom: 50px;
}

.head__content
{
    padding: 15px;
    font-size: 26px;
    color: rgba(150, 150, 150, 1);
}

.context_text {
    padding: 12px;
    color: cornsilk;
    font-size: 14px;
}

.quiz__body
{
    width: 100%;
}

.buttons__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.button-quiz, .button_common {
    width: 70%;
    height: 90%;
    padding: 10px 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: 0;
    border-radius: 10px;

    background: #fff;
    color: #8a3ab9;

    box-shadow: 1px 1px 5px rgba(138, 58, 185, 0.5),
              1px 1px 5px rgba(138, 58, 185, 1);

    font-size: 15pt;
    cursor: pointer;
    transition: 0.3s
}

.button-quiz:hover {
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5),
              1px 1px 5px rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.button-quiz:active {
    box-shadow: 0.1px 0.1px 1px rgba(255, 255, 255, 0.5),
              0.1px 0.1px 1px rgba(255, 255, 255, 1);
    transition: 0.2s;
}

.quiz__footer {
    margin: 25px 0 15px 0;
}

.button_correct, .button_correct:active {
    background: #2a835e;
    color: #fff;
    box-shadow: 0.1px 0.1px 1px rgba(255, 255, 255, 0.5),
              0.1px 0.1px 1px rgba(255, 255, 255, 1);
    transition: 0.2s;
}

.button_wrong, .button_wrong:active {
    background: #832a2a;
    color: #fff;
    box-shadow: 0.1px 0.1px 1px rgba(255, 255, 255, 0.5),
              0.1px 0.1px 1px rgba(255, 255, 255, 1);
    transition: 0.2s;
}

.back {
    width: 70%;
    height: 90%;
    padding: 10px 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: 0;
    border-radius: 10px;

    background: #fff;
    color: #8a3ab9;

    box-shadow: 1px 1px 5px rgba(138, 58, 185, 0.5),
              1px 1px 5px rgba(138, 58, 185, 1);

    font-size: 15pt;
}

.disabled {
    visibility: hidden;
}
